[package]
name = "migration"
version.workspace = true
edition = "2021"
publish = false
default-run = "migration"

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
clap = { version = "4.5.48", features = ["env", "derive"] }
sea-orm = "1.1.19"
serde_json = "1.0.148"
thiserror = "2.0.17"
time = "0.3.44"
tokio = { version = "1.47.1", features = ["full"] }
tracing = "0.1.44"
tracing-subscriber = "0.3.22"

[dependencies.sea-orm-migration]
version = "1.1.19"
features = ["runtime-tokio-rustls", "sqlx-postgres"]

[dev-dependencies]
sea-orm = { version = "1.1.19", features = ["sqlx-sqlite"] }
sea-orm-migration = { version = "1.1.19", features = ["sqlx-sqlite"] }
