version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    open-pull-requests-limit: 20
    groups:
      opentelemetry:
        patterns:
          - '*opentelemetry*'
      trillium:
        patterns:
          - "trillium"
          - "trillium-*"
      janus:
        patterns:
          - "janus_*"
  - package-ecosystem: "npm"
    directory: "app"
    schedule:
      interval: "weekly"
    target-branch: "main"
    open-pull-requests-limit: 20
    groups:
      eslint:
        patterns:
          - "*eslint*"
      react:
        patterns:
          - 'react'
          - '@types/react'
          - 'react-dom'
          - '@types/react-dom'
      react-router:
        patterns:
          - 'react-router'
          - 'react-router-dom'
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
