# mandatory
export AUTH_URL=https://auth.example
export AUTH_CLIENT_ID=fake
export AUTH_CLIENT_SECRET=fake
export SESSION_SECRETS=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
export DATABASE_ENCRYPTION_KEYS=heHIWC_qxHzdglI0VgLopQ
export AUTH_AUDIENCE=https://app.example
export APP_URL=http://localhost:8081
export DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
export API_URL=http://localhost:8080
export POSTMARK_TOKEN=fake
export EMAIL_ADDRESS=the@from.address

# optional
export RUST_LOG=info
export HOST=localhost
export PORT=8080

# for CLI
export DIVVIUP_API_URL=$API_URL
