# mandatory
export AUTH_URL=https://something.us.auth0.com
export AUTH_CLIENT_ID=...
export AUTH_CLIENT_SECRET=...
export SESSION_SECRETS=...
export DATABASE_ENCRYPTION_KEYS=...
export AUTH_AUDIENCE=https://app.divviup.org
export APP_URL=http://localhost:8081
export DATABASE_URL=...
export API_URL=http://localhost:8080
export POSTMARK_TOKEN=looks-like-a-uuid
export EMAIL_ADDRESS=the@from.address

# optional
export RUST_LOG=info
export HOST=localhost
export PORT=8080

# for CLI
export DIVVIUP_API_URL=$API_URL
