.aggregatorSelection {
  &,
  & * {
    cursor: pointer;
  }

  &:hover,
  &:global(.border-primary) {
    background-color: rgb(246, 248, 254);
  }
}

.fixBootstrapUnderline {
  a {
    text-decoration: none;
  }
}
