name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  ASSET_DIR: ./app/build

jobs:
  build_rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: ./app/package-lock.json
      - run: npm ci && npm run build
        working-directory: ./app
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Collect coverage data
        run: cargo llvm-cov nextest --lcov --output-path lcov.info --workspace --locked
      - name: Upload coverage data to coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: ./lcov.info
        continue-on-error: true
      - name: Format
        run: cargo fmt --all -- --check
      - name: check +api-mocks
        run: cargo check --features api-mocks --locked
      - name: check +otlp-trace
        run: cargo check --features otlp-trace --locked
      - name: check cli -default +ring
        run: cargo check -p divviup-cli --no-default-features --features ring,common --locked
      - name: check cli +default +admin
        run: cargo check -p divviup-cli --features admin --locked
      - name: cargo deny
        uses: EmbarkStudios/cargo-deny-action@v2.0.14
        with:
          command: check bans
